.container {
    width: 90%;
    display: grid;
    height: 220px;
    grid-template-columns: 200px 1fr;
    grid-gap: var(--standart-margin-min);
    padding: var(--standart-padding-min);
    background: var(--bg-box-gradient);
    border-radius: var(--standart-border-radius-min);
    box-shadow: var(--box-shadow-little);
    margin: var(--standart-margin-max) auto;
}

.image_wrapper {
    width: 200px;
    height: 200px;
}

.box {
    display: grid;
}

.small_container {
    width: 220px;
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-gap: var(--standart-margin-min);
    padding: var(--standart-padding-min);
    background: var(--bg-box-gradient);
    border-radius: var(--standart-border-radius-min);
    box-shadow: var(--box-shadow-little);
    margin: var(--standart-margin-max) auto;
    transition: 0.1s;
}

.small_container:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .container {
        width: 220px;
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
        grid-gap: var(--standart-margin-min);
        padding: var(--standart-padding-min);
        background: var(--bg-box-gradient);
        border-radius: var(--standart-border-radius-min);
        box-shadow: var(--box-shadow-little);
        margin: var(--standart-margin-max);
        transition: 0.1s;
    }
}
