html {
    --standart-border-radius-min: 10px;
    --standart-border-radius-mid: 20px;
    --standart-border-radius-max: 30px;
    --standart-padding-min: 10px;
    --standart-padding-mid: 20px;
    --standart-padding-max: 30px;
    --standart-margin-min: 10px;
    --standart-margin-mid: 20px;
    --standart-margin-max: 30px;
    --standart-border-width: 2px;
    --standart-border-width-input: 1px;
    --standart-transition-time: 1s;
    --standart-fast-transition-time: 0.3s;
}

html[data-theme="dark"] {
    --bg-color: rgb(40, 40, 40);
    --bg-boxs-color: rgb(50, 50, 50);
    --bg-second-boxs-color: rgb(55, 55, 55);
    --bg-box-gradient: linear-gradient(145deg, #525151, #2e2e2e);
    --box-shadow-very-little: 5px 5px 10px #1b1b1b, -5px -5px 10px #414141;
    --box-shadow-little: 10px 10px 20px #1b1b1b, -10px -10px 20px #414141;
    --box-shadow-medium: 15px 15px 30px #1f1f1f, -15px -15px 30px #3a3a3a;
    --box-shadow-big: 20px 20px 40px #1f1f1f, -20px -20px 40px #3a3a3a;
    --text-color: rgb(255, 255, 255);
    --border-color: rgb(94, 94, 94);
    --link-text-color: rgb(64, 249, 255);
}

html[data-theme="light"] {
    --bg-color: rgb(230, 230, 230);
    --bg-boxs-color: rgba(245, 245, 245);
    --bg-second-boxs-color: rgb(240, 240, 240);
    --bg-box-gradient: linear-gradient(145deg, rgb(240, 240, 240), rgb(210, 210, 210));
    --box-shadow-very-little: 5px 5px 10px #868686, -5px -5px 10px #ffffff;
    --box-shadow-little: 10px 10px 20px #868686, -10px -10px 20px #ffffff;
    --box-shadow-medium: 15px 15px 30px #868686, -15px -15px 30px #ffffff;
    --box-shadow-big: 20px 20px 40px #868686, -20px -20px 40px #ffffff;
    --text-color: rgb(56, 56, 56);
    --border-color: rgb(94, 94, 94);
    --link-text-color: rgb(0, 0, 0);
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    background-color: var(--bg-color);
    color:var(--text-color);
}

a{
    color: var(--link-text-color);
}