.container {
    display: flex;
    align-content: center;
    gap: 20px;
}

.link {
    font-size: large;
    font-weight: bold;
    color: var(--link-text-color);
}

.link_active {
    font-size: large;
    font-weight: bold;
    color: var(--text-color);
}